<nav class="navbar navbar-expand-lg navbar-dark header-grey">
    <a class="navbar-brand" href="#">Siege</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerlinkActive="active">Home</a>
        </li>
        <li class="nav-item">
            <select class="form-control" id="exampleFormControlSelect1">
                <option  routerLink="/operators" routerlinkActive="active">Operators</option>
                <option>Create</option>
                <option  routerLink="/operator/edit" routerlinkActive="active">Edit</option>
                <option>Delete</option>
            </select>
        </li> 
      </ul>
  
      <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                    <a class="nav-link" routerLink="/deleteUser" routerLinkActive="active">Delete user</a>
                  </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup" routerLinkActive="active">Sign Up</a>
        </li>
      </ul>
    </div>
  </nav>   



    <!-- @@@old navbar without dropdown 
        <nav class="navbar navbar-expand-lg navbar-dark header-grey">
            <a class="navbar-brand" href="#">Siege</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/home" routerlinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/operators" routerlinkActive="active">Operators</a>
                </li> 
              </ul>
          
              <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/login" routerLinkActive="active">Log in</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/signup" routerLinkActive="active">Sign Up</a>
                </li>
              </ul>
            </div>
          </nav>  -->