<nav class="navbar navbar-expand-lg navbar-dark header-grey fixedpos">
    <a class="navbar-brand" href="#">Siege</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerlinkActive="active">Home</a>
        </li>
        <li class="nav-item">
            <a  class="nav-link" routerLink="/operators" routerlinkActive="active">Operators</a>
          </li> 
      <li class="nav-item">
          <a  class="nav-link" routerLink="/maps" routerlinkActive="active">Maps</a>
        </li> 
        <li class="nav-item">
          <a  class="nav-link" routerLink="/seasons" routerlinkActive="active">Seasons</a>
        </li> 
    </ul>
  
      <ul class="navbar-nav navbar-right">
            <li class="nav-item" >
              <a *ngIf="_authService.loggedIn()" class="nav-link" routerLink="/user" routerLinkActive="active">Account</a>
            </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/login" routerLinkActive="active">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/signup" routerLinkActive="active">Sign Up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Log Out</a>
          </li>
      </ul>
    </div>
  </nav>   



    <!-- @@@old navbar without dropdown 
        <nav class="navbar navbar-expand-lg navbar-dark header-grey">
            <a class="navbar-brand" href="#">Siege</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/home" routerlinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/operators" routerlinkActive="active">Operators</a>
                </li> 
              </ul>
          
              <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/login" routerLinkActive="active">Log in</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/signup" routerLinkActive="active">Sign Up</a>
                </li>
              </ul>
            </div>
          </nav>  -->