<div class="col-md-6 mt-5 floatleft">
  <app-operator-detail [operator]="selectedOperator"></app-operator-detail>
</div>

<div class="editbutton">
  <a *ngIf="_authService.loggedIn()" routerLink='/operator/create/new' routerLinkActive="active" class="btn btn-primary">Create operator</a>
</div>

<div class="mt-5 floatright">
  <!-- <input [(ngModel)]="searchOp" type="text" placeholder="Search"/>
  <a (click)="search()" class="btn btn-primary">Search</a>
  <p>{{ searchOp }}</p> -->
  <div class="col-md-4" *ngFor="let operator of operators">
    <div *ngIf="isPopOp(operator)">
      <div class="login-page">
        <div class="form">
          <form class="login-form">
            <h4>{{operator.name}}</h4>
            <h5 class="card-title">
                <img [src]="operator.imageLink" alt="" style="max-width: 100%" class="img-rounded">
              </h5>
            <a (click)="onSelect(operator)" class="btn btn-primary">More info</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>