
h4 {
    color: #ffffff ;
    text-decoration: none;
  }
  
  .login-page {
    width: 360px;
    max-width: 360px;
    margin: auto;
    background: #444444;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .cardtitle {
    text-align: center;
  }

  div.offset {
    padding-top: 15%;
  }