<div class="offset" *ngIf="this.seasonById">
  <div class="login-page">
    <h4 class="cardtitle">season information</h4>
    <hr />
    <img [src]="seasonById.imageLink" alt="" style="max-width: 100%" class="img-rounded">
    <hr />
    <p>
      <br>
      <b>Name:</b>
      <br />
      {{seasonById.name}}
      <br />
      <b>Description:</b>
      <br />
      {{seasonById.description}}
      <br />
      <b>Year:</b>
      <br />
      {{ seasonById.name }} came out in year {{seasonById.year}}
      <br />
    </p>
    <button [routerLink]="['/season/edit', seasonById._id]" routerLinkActive="active" type="button" class="btn btn-warning  mt-2 mr-2">Edit</button>
    <button [routerLink]="['/season/delete', seasonById._id]" routerLinkActive="active" type="button" class="btn btn-danger mt-2 mr-2">Delete</button>
    <a [routerLink]="['/seasons/']" routerLinkActive="active" class="btn btn-primary  mt-2 mr-2">Cancel</a>
  </div>
</div>