<div *ngIf="operator">
  <div class="content">
  <div class="card" >
      <div class="card-body" >
          <h5 class="card-title">
              Detailed Information about {{operator.name | uppercase}}
            </h5>
            <hr/>
            <p class="card-text">
              <img [src]="operator.imageLink" alt="" style="max-width: 100%" class="img-rounded">
              <br>
              <b>Name:</b> 
              <br/>
              {{operator.name}}
              <br/>
              <b>Description:</b> 
              <br/>
              {{operator.description}}
              <br/>
              <b>Side:</b>
              <br/>
              {{operator.side}}
              <br/>
            </p>
      </div> <div>
              <a class="btn btn-warning editbutton">Edit</a> 
              <a class="btn btn-danger deletebutton">Delete</a> 
      </div>            
      
  </div>
</div>
</div>