<div class="container">
    <div class="row">
        <div class="col-xs-6 mt-5">
            <form [formGroup]="myForm">
                <h4 style="color: white">Edit season</h4>
                <!-- <p style="color: white;">Only fill in fields you want to edit.</p> -->
                <mat-form-field appearance="outline">
                    <input matInput placeholder="name" formControlName="name">
                </mat-form-field>
                <hr>
                <mat-form-field appearance="outline">
                    <textarea matInput placeholder="description" formControlName="description"></textarea>
                </mat-form-field>
                <hr>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="imageLink" formControlName="imageLink">
                </mat-form-field>
                <hr>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="year" formControlName="year">
                    <mat-error *ngIf="year.invalid">{{validateYear()}}</mat-error>
                  </mat-form-field>
                <hr>
                <button mat-raised-button [disabled]="myForm.invalid" class="btn btn-primary" (click)="editSeason()">Submit</button>
                <br>
                <label>{{submitResult}}</label>
            </form>
        </div>
    </div>
</div>

<!-- <div *ngIf="season">
  <div class="content login-page form login-form">
    <h5 class="card-title">Edit season: {{season.name}}</h5>
    <hr />
    <p class="card-text">
      <b>Name (old: {{season.name}}):</b>
      <br>
      <input [(ngModel)]="seasonNewName" name="name" type="text" placeholder="name" />
      <br>
      <b>Description:</b>
      <input [(ngModel)]="seasonNewDesc" name="description" type="text" placeholder="description" />
      <br>
      <b>Image link:</b>
      <input [(ngModel)]="seasonNewImg" name="imageLink" type="text" placeholder="image link" />
      <br>
      <b>Year (old: {{season.year}}):</b>
      <input [(ngModel)]="seasonNewYear" name="year" type="number" placeholder="0" />
      <br>
    </p>
    <a (click)="editSeason()" class="btn btn-warning  mt-2 mr-2">Confirm</a>
    <a [routerLink]="['/season/' + season._id]" routerLinkActive="active" class="btn btn-primary  mt-2 mr-2">Cancel</a>
  </div>
</div>

<div *ngIf="this.showResultBox">
  <div class="content login-page form login-form">
    <h4>{{this.displayresult.result}}</h4>
    <p>{{this.displayresult.message}}</p>
  </div>
</div> -->