
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}


form {
  padding: 45px;
  background: #444444;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}