
h4 {
    color: #ffffff ;
    text-decoration: none;
  }
  
  .login-page {
    padding-top: 5%;
    width: 360px;
    max-width: 360px;
    padding: 8% 0 0;
    margin: auto;
    background: #444444;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .login-page2 {
    padding-top: 5%;
    width: 600px;
    max-width: 600px;
    padding: 8% 0 0;
    margin: auto;
    background: #444444;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .container {
    padding-top: 5%;
  }

  .rowpad {
    padding-top: 5%;
  }

  .rowpad {
    padding-top: 10%;
  }
